<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYC Checklist</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--link rel="stylesheet" href="../style.css"-->

	<link rel="stylesheet" href="../styling/allpages.css">
	<link rel="stylesheet" href="../styling/feedback.css">
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
	
	<div id="front-page">
		<nav style="justify-content:space-between" class="navbar">
			<div>				
				<img class="logo" src="/img/logo.png">
				
			</div>  
			
			<ul>
				<li><a href="/index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="trending.html">Events</a></li>
				<li><a class = "active" href="feedback.html">Feedback</a></li>
				<li><a class="signin" href="login.html">Sign In</a></li>
				<div class="dropdown" data-dropdown>
					<button id="link" class="material-symbols-outlined" data-dropdown-button>menu</button>
					<div class="dropdown-menu">
						<a href="/index.html">Home</a>
						<a href="about.html">About</a>
						<a href="trending.html">Events</a>
						<a href="feedback.html">Feedback</a>
						<a href="login.html">Sign In</a>
					</div>
				</div>
			</ul>
		</nav>

		<section id = "FAQ">
			<div class="container">
				<div class="accordion">
					<div class="accordion-item" id="question1">
						<a class="accordion-link" href="#question1">
							How should you navigate this website? <i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
			<div class="answer">
				<p>
					With the navigation bar on the top right, you can browse the website. 
					You can start by looking at the trending page to see events that are 
					only happening for a short while. You can also filter them out by category,
					 price, and special events. For more options, you can also choose the main 
					 page.
				</p>		
						</div>
					</div>
					<div class="accordion-item" id="question2">
						<a class="accordion-link" href="#question2">
							How do I customize my profile? <i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
			<div class="answer">
				<p>
					By selecting the sign in option, you can personalize your profile on our 
					website by entering details about yourself like your name, location,
					and interests. To save events that you want to attend in the future so 
					that you don't lose them, you should create a profile. Making your profile
					 unique and interesting is ultimately the key to getting others to connect 
					 with you and want to learn more about you.
				</p>		
						</div>
					</div>
					<div class="accordion-item" id="question3">
						<a class="accordion-link" href="#question3">
							How do I save my preferences? <i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
			<div class="answer">
				<p>
					To save your preferences on a website, you will need to create an account and log in. Once you are logged in, you can access the preferences or settings page, where you can customize various aspects of your account and the website's behavior. For example, you might be able to adjust your privacy settings, choose which notifications you receive, and select your preferred language and time zone.
To save your changes, look for a button or link that says "Save" or "Apply" on the preferences page. Clicking this will save your preferences and apply them to your account. Some websites may also automatically save your preferences as you make changes, so you don't have to worry about manually saving them.
If you are not logged in or do not have an account, your preferences may not be saved. In this case, you will need to adjust your preferences each time you visit the website.
				</p>		
						</div>
					</div>
					<div class="accordion-item" id="question4">
						<a class="accordion-link" href="#question4">
							What is the best way to see the trends? <i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
			<div class="answer">
				<p>
					The most popular way to view trending events is to visit the trending tab.
					 From there, you can use the search bar or drop-down menu to narrow your 
					 search to events that are of interest to you, such as those in sports,
					  politics, or entertainment. You can also view the most well-liked events, 
					  the events with the most activity recently, or the events that are most 
					  pertinent to your interests by using the website's sorting or filtering
					   options. In order to stay informed about the newest trending events as 
					   they happen, you can also register for an account and subscribe to alerts
						or notifications.
				</p>		
						</div>
					</div>

					<div class="accordion-item" id="question5">
						<a class="accordion-link" href="#question5">
							How do I search an event that I am interested in? <i class="icon ion-md-add"></i>
							<i class="icon ion-md-remove"></i>
						</a>
			<div class="answer">
				<p>
					When you enter the event's name in the search box, the search box will display all relevant results and attempt to match the name in our database.
				</p>		
						</div>
					</div>
				</div>
			</div>
	
	
	
		
		
	
	
	
			
			</section>
		

			<div class="feedbackBox">
				<div>
					<img src="/img/feedback-img.png">
					<h3>Send up some feedback!</h3>
					<br>
					<!--form is using an encrypted string so nobody can access it from the backend-->
					<form action="https://formsubmit.co/0e1ce550ebf32340be1e419755557f6f" method="POST" > 
						
					<section class="formRow">
						<section class="nameCol">
							<p>Full name</p>
							<input name="Full Name" type="text" required>	
						</section>
						
						<section class="emailCol">
							<p>Email Address</p>
							<input name="Email" type="email"  required>
						</section>
					</section>
					<section class="SubjectCol">
						<p>Subject</p>
						<input name="Subject" type="text"  required>	
					</section>

					<section class = "MessageCol">
					<p>Message</p>
						<textarea name="Message" class="feedback-text-box" rows="10" cols="50"></textarea>	
						
						<select name="Inquiry Type">
							<option>Comment</option>
							<option>Bug</option>
							<option>Other</option>
						</select>
						</section>
							<br>
							<button type="submit" id="button" class="send-feedback">Send Feedback</button>
					</form>
					
				</div>
			</div> 
	</div>
	
	


	<script src="../script.js"></script>
</body>
</html>
